.feature-icon {
  width: 4rem;
  height: 4rem;
  border-radius: 0.75rem;
}

.btn-outline-warning:hover {
  background-color: blue;
  border-color: blue;
  color: white;
}

.btn {
  border-color: lightgray;
}

.overflow-hidden {
  margin-bottom: 15px;
}

.card-img-top {
  height: 250px;
  /* You can adjust the height as needed */
  object-fit: cover;
}

#city-cards {
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 15px;
}

.recommendation-button {
  margin-bottom: 20px; /* Adjust the value as needed */
}
.blur-background {
  filter: blur(5px);
}
